<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-start fixed-top" th:fragment="header"
     xmlns:th="">
    <div class="container">
        <a class="navbar-brand order-0 order-lg-0 ml-lg-0 mr-2 ml-0" th:href="@{../}">E-GYM</a>
        <button class="navbar-toggler align-self-start" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark p-3 p-lg-0 mt-5 mt-lg-0 justify-content-lg-end  d-flex flex-column flex-lg-row flex-xl-row mobileMenu onRight" id="navbarSupportedContent" >
            <ul class="navbar-nav align-self-stretch">
                <li class="nav-item active">
                    <a class="nav-link header-text" href="#">Кто мы?</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link header-text" href="#">Услуги</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link header-text" href="#">Связаться</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link header-text" th:href="@{../news}">Блог</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link header-text" th:href="@{../login}">Войти</a>
                </li>

                <!-- BUTTON(REGISTRARION -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <button style="background: #FE9D3B; width: 125px; height: 30px; border-radius: 7px; margin-top: -5px;  display: inline-block; border: none;">
                            <span class="header-btn-text">Регистрация</span>
                        </button>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>