@media (max-width: 992px) {
    .mobileMenu {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        -webkit-transition: all ease 0.25s;
        transition: all ease 0.25s;
    }
    .mobileMenu.onRight {
        left: auto;
        right: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .mobileMenu.open {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    .mobileMenu .navbar-nav {
        overflow-y: auto;
    }
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .overlay.open {
        display: block;
        z-index: 1029;
    }
    .navbar-toggler{
        margin-top: 5px;
        width: 60px;
    }

}

.navbar{
    background-color: #121212 !important;
}
.navbar-collapse{
    background-color: #121212 !important;
}
.navbar-brand{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    float: left !important;
    color: #FEFAFF;
}

.header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin-right: 26px;
}

.header-btn-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 4px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background-color: #F1F1F1;
}

.name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
    /* identical to box height, or 121% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

.descrip{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    /* or 181% */

    display: flex;
    align-items: center;

    color: #000000;
}

.birthday{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    /* or 181% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    margin-bottom: 18px;
}
.typeAbo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    /* or 181% */

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;

    color: #000000;
}
.endAbo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    /* or 181% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.profile-photo{
    width: 255px;
    height: auto;
}
@media(min-width: 588px) and (max-width: 1200px){
    .profile-photo{
        width: 100%;
        height: auto;
    }
}

.connect1{
    padding-top: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    align-items: center;

    color: black;
}
.choose{
    font-family: Montserrat;
    font-size: 29px;
}

@media(max-width: 490px){
    .dogy{
        width: 100% !important;
        height: 400px;
    }
}
html {
    background: white;
}

.popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 65px;
}
@keyframes ani {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: black;
    }
    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: black;
    }
    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: black;
    }
    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: black;
    }
}
.popout span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
    animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
    animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
    animation-delay: -0.5s;
}


.connect2{
    padding-top: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;

    color: black;
}
.user-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    /* or 112% */

    align-items: center;
    text-align: center;

    color: #000000;
}

.tox-tinymce-aux{
    display: none;
}

.footer{
    height: 150px;
}
.footer-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* or 121% */


    align-items: center;
    text-align: center;

    color: #FEFAFF;

}