<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>GYM</title>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
         crossorigin="anonymous"
         />
       <link rel="stylesheet" th:href="@{css/news.css}"/>
   </head>
   <body>

   <div th:replace="fragments/header"></div>
     

<div class="container newser" >
  <div class="row" style="background-color: white; margin-bottom: 50px;" th:each="article: ${articles}">
    <div class="col-sm">
      <img src="images/who-img.jpg" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" alt="">
    </div>
    <div class="col-sm" style="margin-top: 10px;">
      <h4 class="news-title" th:text="${article.title}"></h4>
      <p class="news-short" th:text="${article.shortText}"></p>
        <p class="news-date">Дата: <span th:text="${article.date}"></span></p>
        <a th:href="@{'/news/' + ${article.id}}"><button class="news-read"><span class="news-read-text">Читать полностью</span></button></a>
    </div>
  </div>

</div>


   <div th:replace="fragments/footer"></div>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
         integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
         crossorigin="anonymous"
         ></script>
   <script th:src="@{js/script.js}"></script>
   </body>
</html>