<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>GYM</title>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
         integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
         crossorigin="anonymous"
         />
       <link rel="stylesheet" th:href="@{css/login.css}"/>
   </head>
   <body>
    
            
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" th:object="${user}" th:action="@{/register}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="name" name="name" id="name" class="form-control" placeholder="Имя" required autofocus>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
                <input type="phone" name="phone" id="phone" class="form-control" placeholder="Телефон" required autofocus>
                <input type="password" name="password" id="password" class="form-control" placeholder="Пароль" required>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Зарегистрироваться</button>
            </form><!-- /form -->
           
            <a href="../users/login.html" class="forgot-password">
                Войти
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
    
<script
         src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
         integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04="
         crossorigin="anonymous"
         ></script>
      <script src="./js/script.js"></script>
   </body>
</html>